<div class="test-header">Популярни тестове</div>
<div class="test-main--row f f-cent">
	<div class="test-cont">
		<div class="test-head f f-cent f-row f-space-bet">
        		<div><i class="fa fa-comments test-head-icon" aria-hidden="true"></i></div>
        		<div>
				<div>1 час и 15 минути</div>
				<div>17 въпроса</div>
			</div>
		</div>
		<div class="test-body f f-col">
        		<div>Основни полезни практики</div>
        		<div>Тест за проверка на знанията по основни практики в стоматологията</div>
        		<div>
				<div><i class="fa fa-heart-o test-cont-icon" aria-hidden="true"></i>
</div>
				<div class="test-button">Започни</div>
			</div>
		</div>
	</div>
	<div class="test-cont">
		<div class="test-head f f-cent f-row f-space-bet">
        		<div><i class="fa fa-comments test-head-icon" aria-hidden="true"></i></div>
        		<div>
				<div>1 час и 15 минути</div>
				<div>17 въпроса</div>
			</div>
		</div>
		<div class="test-body f f-col">
        		<div>Основни полезни практики</div>
        		<div>Тест за проверка на знанията по основни практики в стоматологията</div>
        		<div>
				<div><i class="fa fa-heart-o test-cont-icon" aria-hidden="true"></i>
</div>
				<div class="test-button">Започни</div>
			</div>
		</div>
	</div>
	<div class="test-cont">
		<div class="test-head f f-cent f-row f-space-bet">
        		<div><i class="fa fa-comments test-head-icon" aria-hidden="true"></i></div>
        		<div>
				<div>1 час и 15 минути</div>
				<div>17 въпроса</div>
			</div>
		</div>
		<div class="test-body f f-col">
        		<div>Основни полезни практики</div>
        		<div>Тест за проверка на знанията по основни практики в стоматологията</div>
        		<div>
				<div><i class="fa fa-heart-o test-cont-icon" aria-hidden="true"></i>
</div>
				<div class="test-button">Започни</div>
			</div>
		</div>
	</div>
</div>
<div class="test-main--row f f-cent">
	<div class="test-cont">
		<div class="test-head f f-cent f-row f-space-bet">
        		<div><i class="fa fa-comments test-head-icon" aria-hidden="true"></i></div>
        		<div>
				<div>1 час и 15 минути</div>
				<div>17 въпроса</div>
			</div>
		</div>
		<div class="test-body f f-col">
        		<div>Основни полезни практики</div>
        		<div>Тест за проверка на знанията по основни практики в стоматологията</div>
        		<div>
				<div><i class="fa fa-heart-o test-cont-icon" aria-hidden="true"></i>
</div>
				<div class="test-button">Започни</div>
			</div>
		</div>
	</div>
	<div class="test-cont">
		<div class="test-head f f-cent f-row f-space-bet">
        		<div><i class="fa fa-comments test-head-icon" aria-hidden="true"></i></div>
        		<div>
				<div>1 час и 15 минути</div>
				<div>17 въпроса</div>
			</div>
		</div>
		<div class="test-body f f-col">
        		<div>Основни полезни практики</div>
        		<div>Тест за проверка на знанията по основни практики в стоматологията</div>
        		<div>
				<div><i class="fa fa-heart-o test-cont-icon" aria-hidden="true"></i>
</div>
				<div class="test-button">Започни</div>
			</div>
		</div>
	</div>
	<div class="test-cont">
		<div class="test-head f f-cent f-row f-space-bet">
        		<div><i class="fa fa-comments test-head-icon" aria-hidden="true"></i></div>
        		<div>
				<div>1 час и 15 минути</div>
				<div>17 въпроса</div>
			</div>
		</div>
		<div class="test-body f f-col">
        		<div>Основни полезни практики</div>
        		<div>Тест за проверка на знанията по основни практики в стоматологията</div>
        		<div>
				<div><i class="fa fa-heart-o test-cont-icon" aria-hidden="true"></i>
</div>
				<div class="test-button">Започни</div>
			</div>
		</div>
	</div>
</div>
